<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="login">
        <form class="log" action="/login.html" method="post">
            <label>账号：</label><input type="text" name="username" placeholder="请输入账号"/>
            <label>密码：</label><input type="password" name="password" placeholder="请输入密码"/>
            <input class="sub" type="submit" value="登录"/>
        </form>
    </div>
</body>
</html>