<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<script type="text/javascript" src="/lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]--><title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
  <img class="avatar size-XL l" src="/static/h-ui/images/user.png">
  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18">{$Member}</span> <span class="pl-10 f-12">余额：{if $Account eq null}0.00{else}{$Account}{/if}</span></dt>
    <dd class="pt-10 f-12" style="margin-left:0">{$Remark}</dd>
  </dl>
</div>
<div class="pd-20">
  <table class="table">
    <tbody class="member_show">
      <tr>
        <th class="text-r" width="80">性别：</th>
        <td>{$Sex}</td>
      </tr>
      <tr>
        <th class="text-r">手机：</th>
        <td>{$Mobile}</td>
      </tr>
      <tr>
        <th class="text-r">会员卡号：</th>
        <td>{$Card}</td>
      </tr>
      <tr>
        <th class="text-r">会员卡类型：</th>
        <td>{$CardType}</td>
      </tr>
      <tr>
        <th class="text-r">累计消费积分：</th>
        <td>{if $Point eq null}0{else}{$Point}{/if}</td>
      </tr>
      <tr>
        <th class="text-r">可用消费积分：</th>
        <td>{if $AvailablePoint eq null}0{else}{$AvailablePoint}{/if}</td>
      </tr>
      <tr>
        <th class="text-r">转介绍积分：</th>
        <td>{if $IntroducerPoint eq null}0{else}{$IntroducerPoint}{/if}</td>
      </tr>
      <tr>
        <th class="text-r">注册时间：</th>
        <td>{$CreateDate|date_format:"%Y-%m-%d"}</td>
      </tr>
      <tr>
        <th class="text-r">到期时间：</th>
        <td>{$EndDate|date_format:"%Y-%m-%d"}</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
</body>
</html>