{include file="template/tpl/admin/_meta.html"}
<title>后台信息</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用灰辉商城 <span class="f-14"></span></p>
	<p>登录次数：{$num} </p>
	<p>上次登录IP：{$ip}  上次登录时间：{$time}</p>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>资讯库</th>
				<th>图片库</th>
				<th>产品库</th>
				<th>用户</th>
				<th>管理员</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>总数</td>
				<td>92</td>
				<td>9</td>
				<td>0</td>
				<td>8</td>
				<td>20</td>
			</tr>
			<tr class="text-c">
				<td>今日</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>昨日</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>本周</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>本月</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">服务器计算机名</th>
				<td><span id="lbServerName">{$HTTP_HOST}</span></td>
			</tr>
			<tr>
				<td>服务器IP地址</td>
				<td>{$SERVER_ADDR}</td>
			</tr>
			<tr>
				<td>服务器域名</td>
				<td>{$SERVER_NAME}</td>
			</tr>
			<tr>
				<td>服务器端口 </td>
				<td>{$SERVER_PORT}</td>
			</tr>
			<tr>
				<td>服务器软件版本 </td>
				<td>{$SERVER_SOFTWARE}</td>
			</tr>
			<tr>
				<td>本文件所在文件夹 </td>
				<td>{$DOCUMENT_ROOT}</td>
			</tr>
			<tr>
				<td>服务器操作系统 </td>
				<td>{$OS}</td>
			</tr>
			<tr>
				<td>服务器脚本超时时间 </td>
				<td>{$t}秒</td>
			</tr>
			<tr>
				<td>服务器当前时间 </td>
				<td>{$date}</td>
			</tr>
			<tr>
				<td>服务器上次启动到现在已运行 </td>
				<td>{$uptime}</td>
			</tr>
			<tr>
				<td>CPU 核心总数 </td>
				<td>{$cpu.num}</td>
			</tr>
			<tr>
				<td>CPU 型号 </td>
				<td>{$cpu.model}</td>
			</tr>
			<tr>
				<td>服务器内存总数 </td>
				<td>{$mem_total}M</td>
			</tr>
			<tr>
				<td>服务器当前使用内存 </td>
				<td>{$mem_real_used}M</td>
			</tr>
			<tr>
				<td>服务器当前使用内存百分比 </td>
				<td>{$mem_real_percent}%</td>
			</tr>
			<tr>
				<td>当前系统用户名 </td>
				<td>{$SERVER_ADMIN}</td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p><br>
			Copyright &copy;2016 SuperHui All Rights Reserved.<br>
			本后台系统由 <a href="https://www.superhui.xyz" target="_blank" title="SuperHui">SuperHui</a> 提供技术支持</p>
	</div>
</footer>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
</body>
</html>